#header .hd_wrap {
    display: flex;
    align-items: center;
}

#header h1 a img {
    height: 40px;
}

#header .gnb {
    margin-left: auto;
}

#header .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .gnb>ul>li>a {
    display: block;
    line-height: 120px;

    font-size: 18px;
}

#header.on .gnb>ul>li>a {
    line-height: 120px;
}

#header .utils {
    display: flex;
    gap: 16px;
    margin-left: 80px;
}

.main_visual {
    position: relative;
    background: url(../받은자료/meat-1155132_1920.jpg) no-repeat center center/cover;
    height: 840px;
}

.main_visual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_visual .slg h2 {
    font-size: 40px;
    color: #fff;
}

.main_visual .slg p {
    font-size: 16px;
    color: #fff;
    margin-top: 16px;
}

.main_content .title {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main_content .title h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.main_content .title p {
    font-size: 16px;
    font-weight: 400;

}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner .itm strong {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.main_event {
    background: #f9f9f9;
}

.main_event .title {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main_event .title h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.main_event .title p {
    font-size: 16px;
    font-weight: 400;

}

.main_event .inner {
    display: flex;
    gap: 30px;
}

.main_event .inner .itm strong {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

#footer {
    padding: 80px 0;
}